<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit test</title>
    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.19.3.css">
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script src="https://code.jquery.com/qunit/qunit-2.19.3.js"></script>
    <script type="module" src="../js/Shop_Main.js"></script>
    <script type="module" src="../js/Registration.js"></script>
    <script type="module" src="../js/Profile.js"></script>
    <script type="module" src="../js/Product_Main.js"></script>
    <script type="module" src="../js/index.js"></script>
    <script type="module" src="../js/confirm.js"></script>
    <script type="module" src="../js/Cart.js"></script>
    <script type="module" src="../js/Auth_Profile.js"></script>
    <script>
        const utils = new Utils();
        // QUnit.module('Utils', function() {
        //   QUnit.test('Path Combine', function(assert) {
        //     assert.equal(utils.pathCombine('/p1', '/p2'), '/p1/p2');});
        // });
    </script>
</body>
</html>