<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit test</title>
    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.19.3.css">
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script src="https://code.jquery.com/qunit/qunit-2.19.3.js"></script>
    <!-- <script src="js/Components/Counter.js"></script> -->
    <script type="module">
        import {counter_handler, minus, plus, change_color} from "../js/Components/Counter.js";
        QUnit.module('Counter', function() {
            QUnit.test('minus', function(assert) {
                const event = new InputEvent('click');
                var input = document.createElement("INPUT");
                var button = document.createElement("button");
                input.setAttribute("type", "number");
                var span  = document.createElement('span');
                input.value = 2;
                span.innerText = 1;
                button.onclick = minus(input, span);
                button.dispatchEvent(event);
                assert.equal(input.value, 1);
            });
            QUnit.test('plus', function(assert) {
                const event = new InputEvent('click');
                var input = document.createElement("INPUT");
                var button = document.createElement("button");
                input.setAttribute("type", "number");
                var span  = document.createElement('span');
                input.value = 1;
                span.innerText = 1;
                button.onclick = plus(input, span);
                button.dispatchEvent(event);
                assert.equal(input.value, 2);
            });
            QUnit.test('change_Button_color', function(assert) {
                var div = document.createElement('div');
                var svg = document.createElement('svg')
                //svg.style.fill = "aquamarine";
                div.append(svg);
                change_color(1, div);
                assert.equal(svg.style.fill, 'grey');
                change_color(10, div);
                assert.equal(svg.style.fill, 'aquamarine');
            });
        });
    </script>
</body>
</html>